<footer class="footer mt-5">

    <div class="container py-5">

        <div class="row">

            <div class="col-md-4">

                <h4>Apex Citizens of Ghana</h4>

                <p>
                    Building a stronger Ghana through advocacy,
                    accountability and citizen participation.
                </p>

            </div>

            <div class="col-md-4">

                <h5>Quick Links</h5>

                <ul class="list-unstyled">

                    <li><a href="/">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">Donate</a></li>

                </ul>

            </div>

            <div class="col-md-4">

                <h5>Contact</h5>

                <p>+233 534 813 711</p>

                <p>Box 94, Mampong Ash.</p>

            </div>

        </div>

        <hr>

        <div class="text-center">

            © {{ current_year }} Apex Citizens of Ghana.
            All Rights Reserved.

        </div>

    </div>

</footer>