{% extends "admin/layout.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<h2 class="mb-4">
    Dashboard
</h2>

<div class="row">

    <div class="col-md-3">

        <div class="card shadow">

            <div class="card-body text-center">

                <h5>Total News</h5>

                <h2>0</h2>

            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card shadow">

            <div class="card-body text-center">

                <h5>Gallery</h5>

                <h2>0</h2>

            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card shadow">

            <div class="card-body text-center">

                <h5>Members</h5>

                <h2>0</h2>

            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card shadow">

            <div class="card-body text-center">

                <h5>Messages</h5>

                <h2>0</h2>

            </div>

        </div>

    </div>

</div>

{% endblock %}